.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
